<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">图书借阅排行榜</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <!--<li><a data-action="reload"></a></li>-->
                        <!--<li><a data-action="close"></a></li>-->
                    </ul>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>排名</th>
                        <th>图书条形码</th>
                        <th>图书名称</th>
                        <th>价格</th>
                        <th>作者</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bookInfo, iterStat: ${content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${bookInfo.barcode}">Eugene</td>
                        <td th:text="${bookInfo.bookname}">Kopyov</td>
                        <td th:text="${bookInfo.price}">Kopyov</td>
                        <td th:text="${bookInfo.author}">Kopyov</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>